@model EduPost.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Public)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Public)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <h4>Uploaded files</h4>
    @if (Model.Files != null && Model.Files.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>File name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
           
                        @foreach (var file in Model.Files)
                        {
                            <tr>
                                <td>@file.FileName</td>  
                            </tr>
                        }
                </tbody>
            </table>
        }
    else
        {
            <p>No file uploaded.</p>
        }

    @if (Model.Files.Any()) 
        {
            <a href="@Url.Action("DownloadArticleFiles", new { id = Model.ArticleId })" class="btn btn-primary">Download Files</a>
        }

    <div class="comments-section">
        <h3>FeedBacks:</h3>
        @if (Model.FeedBacks != null && Model.FeedBacks.Any())
        {
            <ul>
                @foreach (var comment in Model.FeedBacks)
                {
                    <li>
                        <strong>@comment.CreatedDate.ToString("dd MMM yyyy"): </strong>@comment.Content
                        <br>
                        <em>Posted by: @(comment.UserId.HasValue && ViewBag.Usernames.ContainsKey(comment.UserId.Value) ? ViewBag.Usernames[comment.UserId.Value] : "Unknown User")</em>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No comments to display.</p>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
